<div class="right_section_head">
<ul>
    <li class="button">
    
        <%=link_to 'New Question',{:controller=>'admin/questions',:action => 'new_question',:campaign_id=>params[:campaign_id]} %>
    
 </li>
</ul>
</div>

