<h1>Hi There!!!</h1>

<% if user_signed_in? == false %>
<%= link_to "Click here to login", new_user_session_path %>
<% else%>
<%= link_to "Sign_out", destroy_user_session_path, :method  => :delete %>
<% end %>